
h3{
    color: lightskyblue;
    font-size: clamp(.5rem, 1.5vw + 1rem, 2.3rem);
}
h4{
    color: lightskyblue;
    font-size: clamp(.2rem, 1.3vw + 1rem, 2.3rem);
}



li{
    font-size: clamp(.2rem, 1vw + 1rem, 2.5rem);
    margin-top: .5em;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        "········································"
        "········································"}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: black}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: black}

p{
    font-size: clamp(.2rem, 1vw + 1rem, 2.5rem);
    color: aliceblue;
}


.code{
    width: 100%;
}


.skill{
    font-size: clamp(.1rem, 1vw + 1rem, 2rem);
    color: aliceblue;
}

.box{
    border: .2em solid skyblue;
    border-radius: .5em;
    width: 4em;
    height: 3em;
    margin: .5em;
}

.traitGroups{
    margin-top: 1em;
}
.traitBox{
    outline: 2px solid aliceblue;
    width: 33%;
    height: 2em;
    margin-left: .1em;
    margin-right: .1em;
}
.trait{
    margin-top: .3em;
    text-align: center;
}

.classified{
    color: rgb(255, 78, 78);
    text-decoration: line-through;
}