
html{
    font-size: .35em;
}

body{
    background-color: black;
    font-family: "Roboto Mono";
    margin: 0;

}


.graph-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    pointer-events: none;
}
.graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(61, 229, 255, 0.5) 0%, rgba(85, 0, 255, 0.5) 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(15, 3, 252, 0.84) 0%, rgba(255, 0, 234, 0.5) 1px, rgba(0, 0, 0, 0) 0px); 
    background-size: 4em 2em, 4em 2em;
    height: 100%;
    perspective: 100px;
    z-index: -2;
}

.Left{
    animation: layLeft 4.5s forwards linear;
    transform: scale(.1) translateX(-100%) rotateY(90deg) perspective(2000px);
}

@keyframes layLeft {
    50% {
        transform: perspective(100px) scale(5) translateX(-18%) rotateY(70deg);
        opacity: 1;
    }
    100% {
        transform: perspective(5px) scale(1) rotateY(70deg) translateX(-70%);
        opacity: 0;
    }
}
.Right{
    animation: layRight 4.5s  forwards linear;
    transform: scale(.1) translateX(100%) rotateY(-90deg) perspective(2000px);
}
@keyframes layRight {
    50% {
        transform: perspective(100px) scale(5) translateX(18%) rotateY(-70deg);
        opacity: 1;
    }
    100% {
        transform: perspective(5px) scale(1) rotateY(-70deg) translateX(70%);
        opacity: 0;
    }
}

.graph-container2 {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transform: scale(0);
    animation: fadeIn 1s 4s forwards linear;
}
.graphB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(135, 32, 253, 0.5) 10%, rgba(0, 174, 255, 0.5) 2px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(15, 3, 252, 0.84) 10%, rgba(0, 153, 255, 0.5) 2px, rgba(0, 0, 0, 0) 0px); 
    background-size: 10% 5%, 5% 10%;
    height: 100%;
    perspective: 200px;
    z-index: 3;
    border: 5px solid rgb(116, 103, 253);
    box-shadow: 0 0 8em 2em rgb(73, 9, 236);
    transform: perspective(500px) rotateX(45deg) scaleX(.4) scaleY(.3);
    animation: graphB 20s 3s infinite linear;
}

.graphB:hover{
    transform: perspective(500px) rotateX(45deg) scaleX(.6) scaleY(.45);
    box-shadow: 0 0 8em 3em rgb(98, 38, 252);
    cursor: pointer;
}

.graphB:active{
    transform: perspective(500px) rotateX(45deg) scaleX(.3) scaleY(.2.3);
    box-shadow: 0 0 8em 1em rgb(45, 17, 113);
}
@keyframes graphB {
    to{
        transform: perspective(500px) rotateX(45deg) scaleX(.4) scaleY(.3) rotateZ(360deg);
    }
}
@keyframes fadeIn {
    to{
        transform: scale(1);
    }
}




.cv:hover, .misc:hover, .resume:hover,
.projects:hover, .contact:hover{
  cursor: pointer;
  color: rgb(217, 255, 241);
  font-size: larger !important;
  text-shadow: 0 0 1em rgb(187, 234, 216);
}


.cv, .misc, .resume,
.projects, .contact{
  font-size: 0em;
  color: lightskyblue;
  animation: navReveal 1s forwards linear 4s;
}
.misc{
  color: aliceblue;
}
@keyframes navReveal {
  to{
  font-size: clamp(.2rem, 1.5vw + 1rem, 2.5rem);
  }
}

.arrowLeft:hover, .arrowRight:hover{
  cursor: pointer;
  border: solid rgb(217, 255, 241)!important;
  border-width: 0 .2em .2em 0!important;
  font-size: larger !important;
}
.arrowLeft, .arrowRight{
  display: inline-block;
  border: solid black;
  border-width: 0 0 0 0;
  animation: arrowAnim 1s forwards linear 4s;
}


@keyframes arrowAnim{
  to{
    display: inline-block;
    border: solid skyblue;
    border-width: 0 .15em .15em 0;
    padding: .5em;
  }
}

.arrowLeft{
  transform: rotate(135deg);
}
.arrowRight{
  transform: rotate(-45deg);
}


a{
    text-decoration: none;
}

.page{
    transform: scale(.1);
    animation: pageAnim 1s forwards linear 4s;
}
@keyframes pageAnim{
  to{
    transform: scale(1);
  }
}
.nav{
    margin-top: .5em;
}

/* canter the div insie the div*/
.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.title{
    color: aliceblue;
    font-size: clamp(2rem, 1.5vw + 6rem, 10rem);
    font-weight: bolder;
    text-shadow: 0 0 10px rgb(141, 255, 211);
    transform: scale(0);
    animation: fadeIn 1s forwards 4s;
}
