
html{
    font-size: .35em;
}

body{
    background-color: black;
    font-family: "Roboto Mono";
}

.graph-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(61, 229, 255, 0.5) 0%, rgba(85, 0, 255, 0.5) 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(15, 3, 252, 0.84) 0%, rgba(255, 0, 234, 0.5) 1px, rgba(0, 0, 0, 0) 0px); 
    background-size: 4em 2em, 4em 2em;
    height: 100%;
    perspective: 2000px;
    z-index: -2;
}

.Left{
    animation: layLeft 13s forwards linear;
}

@keyframes layLeft {
    50% {
        transform: perspective(300px) scale(.6) rotateY(70deg) translateX(-10%);
        opacity: 1;
    }
    100% {
        transform: perspective(10px) scale(.2) rotateY(70deg) rotateX(-90deg) translateX(100%);
        opacity: 0;
    }
}
.Right{
    animation: layRight 13s  forwards linear;
}
@keyframes layRight {
    50% {
        transform: perspective(300px) scale(.6) rotateY(-70deg) translateX(10%);
        opacity: 1;
    }
    100% {
        transform: perspective(10px) scale(.2) rotateY(-70deg) rotateX(90deg) translateX(-100%);
        opacity: 0;
    }
}



.cv:hover, .misc:hover, .resume:hover,
.projects:hover, .contact:hover{
  cursor: pointer;
  color: rgb(217, 255, 241);
  font-size: larger !important;
  
  text-shadow: 0 0 1em rgb(187, 234, 216);
}


.cv, .misc, .resume,
.projects, .contact{
  font-size: 0em;
  color: lightskyblue;
  animation: navReveal 3s forwards linear 10s;
}
.misc{
  color: aliceblue;
}
@keyframes navReveal {
  to{
  font-size: clamp(.2rem, 1.5vw + 1rem, 2.5rem);
  }
}

.arrowLeft:hover, .arrowRight:hover{
  cursor: pointer;
  border: solid rgb(217, 255, 241)!important;
  border-width: 0 .2em .2em 0!important;
  font-size: larger !important;
}
.arrowLeft, .arrowRight{
  display: inline-block;
  border: solid black;
  border-width: 0 0 0 0;
  animation: arrowAnim 3s forwards linear 10s;
}


@keyframes arrowAnim{
  to{
    display: inline-block;
    border: solid skyblue;
    border-width: 0 .15em .15em 0;
    padding: .5em;
  }
}

.arrowLeft{
  transform: rotate(135deg);
}
.arrowRight{
  transform: rotate(-45deg);
}


a{
    text-decoration: none;
}