
html{
    font-size: .35em;
}

body{
    background-color: black;
    font-family: "Roboto Mono";
    margin: 0;

}


.cv:hover, .misc:hover, .resume:hover,
.projects:hover, .contact:hover{
  cursor: pointer;
  color: rgb(217, 255, 241);
  font-size: larger !important;
  text-shadow: 0 0 1em rgb(187, 234, 216);
}


.cv, .misc, .resume,
.projects, .contact{
  font-size: 0em;
  color: lightskyblue;
  font-size: clamp(.2rem, 1.5vw + 1rem, 2.5rem);
}
.projects{
  color: aliceblue;
}

.arrowLeft:hover, .arrowRight:hover{
  cursor: pointer;
  border: solid rgb(217, 255, 241)!important;
  border-width: 0 .2em .2em 0!important;
  font-size: larger !important;
}
.arrowLeft, .arrowRight{
  display: inline-block;
  border: solid black;
  border-width: 0 0 0 0;
  animation: arrowAnim 1s forwards linear 1s;
}


@keyframes arrowAnim{
  to{
    display: inline-block;
    border: solid skyblue;
    border-width: 0 .15em .15em 0;
    padding: .5em;
  }
}

.arrowLeft{
  transform: rotate(135deg);
}
.arrowRight{
  transform: rotate(-45deg);
}

.topLine{
    background-color: lightskyblue;
    margin-top: .3em;
    height: .1em;
    width: 0%;
    margin-left: 50%;
    
  animation: topLine 3s alternate forwards steps(70) 1s; 
}
@keyframes topLine {
    from {
        width: 0%;
        margin-left: 50%;
    }
    to{
        margin-left: 2.5%;
        width: 95%;
    }
}

a{
    text-decoration: none;
}

.page{
    filter: blur(.5em);
    animation: unblur 2s forwards linear;
}
.nav{
    margin-top: .5em;
}

.optionsContainer{
    position: absolute;
    top: 9%;
    left: 2%;
    height: 90%;
    width: 96%;
    margin: auto;
    gap: 3%;
    justify-content: center;
}


.softwareWindow{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(1em);
  animation: unblur 2s forwards linear;
}
@keyframes unblur{
  to{
    filter: blur(0);
  }
}
.softwareContainer{
  aspect-ratio: 16 / 9;
  position: absolute;
  width: 100%;
  max-height: 100%;
  background: linear-gradient(rgba(230, 1, 255, 0.774) 0%, rgb(255, 140, 0) 100%);
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.softwareInner{
  position: absolute;
  background-color: black;
  width: 99%;
  height: 98%;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (orientation: portrait){
  .softwareContainer{
    border-radius: 2em;
  }
  .softwareInner{
    border-radius: 2em;
  }
}
.softwareText{
  position: absolute;
  color: white;
  font-size: clamp(1rem, 1vw + 2rem, 10rem);
  width: 97%;
  height: 95%;
}
.softwareHoverMeText{
  color: lightskyblue;
  font-size: clamp(1rem, 1vw + 5rem, 10rem);
  text-shadow: 0 0 20px rgb(187, 234, 216);
  animation: breathe 3s infinite alternate;
}
@keyframes breathe{
  to{
    opacity: .3;
  }
}

.blur{
  filter: blur(5em);
}

.hardwareWindow{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(1em);
  animation: unblur 2s forwards linear;
}
.hardwareContainer{
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hardwareCPU{
  position: absolute;
  height: 50%;
  aspect-ratio: 1 / 1;
  background: linear-gradient(rgba(1, 192, 255, 0.774) 0%, rgb(30, 0, 255) 100%);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hardwareCPUCover{
  position: absolute;
  background-color: black;
  width: 98%;
  height: 98%;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hardwareCPUCover::after{
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 5em;
}

.hardwareCPUCover:hover::after{
  animation: shrink 2s forwards ease-in-out;
}
@keyframes shrink{
  to{
    width: 0%;
    height: 0%;
  }
}

.hardwareLogo{
  position: relative;
  height: 40%;
  width: 50%;
  z-index: 1;
  background-color: black;
  border-radius: 100%;
}

.hardwareCPUCover:hover .hardwareLogo{
  animation: colorChange 2s forwards ease-in-out;
}

.hardwareLines{
  position: absolute;
  width: 100%;
  height: 100%;
}
.glow{
  filter: blur(2em);
}
.hardwareLines>path{
  animation: colorChange 5s infinite alternate;
  stroke: lightskyblue;
}
@keyframes colorChange{
  30%{
    stroke: rgb(64, 0, 255);
  }
  60%{
    stroke: rgb(0, 179, 255);
  }
  90%{
    stroke: rgb(0, 255, 162);
  }
}



.matrix{
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
  cursor: pointer;
}
