
body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background:#333;
}

.container{          
  background:
    url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic8.depositphotos.com%2F1192060%2F916%2Fi%2F950%2Fdepositphotos_9169280-stock-photo-business-meeting.jpg&f=1&nofb=1')  
    no-repeat center center;
  background-size:100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
}

h1{
    font-size:10em;
    font-weight:bolder;
    line-height: .7em;
    text-align:center;
    text-transform:uppercase;
  }